@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared styles */
* {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 10px 20px;
  color: white;
  border: none;
  margin-top: 10px;
}

/* header style */
header {
  padding: 20px 100px;
  background: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
nav ul li {
  padding: 0 10px;
}
nav ul li a {
  text-decoration: none;
  color: #424242;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}
.logo h2 {
  color: #131313;
  text-align: center;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
}
.hero-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.hero-content h1 {
  color: #131313;
  text-align: center;
  font-family: Work Sans;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hero-content p {
  color: #727272;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.hero-img {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.hero-img img {
  width: 90%;
}

/* fetured section style */
.fetured-section {
  padding: 100px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
.fetured-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.fetured-img img {
  max-width: 100%;
}
.fetured-content h2 {
  color: #727272;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.fetured-content h2 .our {
  color: #131313;
  font-weight: 700;
}
.fetured-content h2 .fetures {
  color: #ff900e;
  font-weight: 700;
  display: block;
}
.fetured-content p {
  color: #727272;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  max-width: 537px;
}

/* love section style */
.love-section {
  padding: 100px 100px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 0px;
}
.love-content {
  max-width: 45%;
}
.love-content h2 {
  color: #131313;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-left: 4px solid orange;
  padding-left: 12px;
  margin-bottom: 10px;
}
.love-content p {
  color: #727272;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.love-content .box {
  border-radius: 8px;
  background: #fff;
  box-shadow: 4px 4px 12px 5px rgba(0, 0, 0, 0.06);
  padding: 10px;
  margin-top: 17px;
}
.love-content .box h3 {
  color: #131313;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.love-content .box p {
  color: #727272;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.img-div {
  max-width: 44%;
  position: relative;
}
.img-div .love-img {
  width: 90%;
}

.experience {
  position: absolute;
  bottom: -33px;
  left: -80px;
  border-radius: 3px;
  background: #ff900e;
  padding: 10px 20px;
  text-align: center;
}
.experience small {
  color: #fff;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  display: block;
}
/* fact section */
.fact-section {
  padding: 20px 200px 90px;
}
.fact-section h2 {
  color: #131313;
  font-family: Work Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.fact-section > p {
  max-width: 542px;
  color: #727272;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 30px;
}
.fact-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-around;
  column-gap: 75px;
  padding: 0 20px;
}
.child-box {
  text-align: center;
  border: 1px solid orange;
  padding: 15px 15px;
}
.child-box .rate {
  color: #424242;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.child-box .text {
  color: #727272;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* sponsores section */
.sponsores-section {
  padding: 20px 100px 40px;
}
.sponsores-section h2 {
  color: #131313;
  font-family: Work Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.sponsores-section p {
  color: #727272;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  max-width: 542px;
  margin: 0 auto;
  padding: 10px 0;
}
.sponsores-img {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}
.sponsores-img .img-div {
  max-width: 90%;
}
.sponsores-img .img-div img {
  mix-blend-mode: luminosity;
  color: gainsboro;
  width: 100%;
}
/* responsive styles here */
/* mobile or small devices responsive */
@media screen and (max-width: 576px) {
  /* header style */
  header {
    padding: 5px 15px;
  }

  element.style {
  }
  .logo h2 {
    font-size: 23px;
  }
  nav {
    flex-direction: column;
  }
  nav ul li {
    padding: 0 10px;
  }
  nav ul li a {
    font-size: 16px;
  }
  .hero-content h1 {
    font-size: 30px;
  }
  .hero-content p {
    line-height: 18px;
    font-size: 15px;
  }
  .btn-primary {
    padding: 5px 10px;
  }
  /* fetured section style */
  .fetured-section {
    padding: 10px 20px;
    flex-direction: column;
    row-gap: 10px;
  }
  .fetured-content h2 {
    font-size: 30px;
  }
  .fetured-content h2 .fetures {
    display: inline;
  }
  .fetured-content p {
    font-size: 14px;
    line-height: 22px;
  }
  /* love section style */
  .love-section {
    padding: 30px 20px;
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
  }
  .love-content {
    max-width: 100%;
  }
  .img-div {
    max-width: 100%;
  }
  .img-div .love-img {
    width: 100%;
  }
  .experience {
    bottom: -5%;
    left: 40%;
    padding: 5px 10px;
    font-size: 10px;
  }
  .experience h1 {
    font-size: 19px;
  }
  .experience small {
    font-size: 15px;
  }
  .love-content h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    border-left: none;
    padding-left: 0px;
    margin-bottom: 6px;
  }
  .love-content p {
    font-size: 15px;
    line-height: 22px;
  }
  .love-content .box p {
    line-height: 21px;
  }

  /* fact-section */
  .fact-section {
    padding: 15px 20px;
  }
  .fact-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 10px;
    padding: 0px;
  }
  .fact-section h2 {
    font-size: 30px;
  }
  .fact-section > p {
    line-height: 20px;
  }
  /* sponsores section */
  .sponsores-section {
    padding: 10px 20px 30px;
  }
  .sponsores-img {
    margin-top: 6px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6px;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
  }
  .sponsores-img .img-div {
    max-width: 80%;
  }
  .sponsores-img .img-div img {
    width: 100%;
  }
  .sponsores-section h2 {
    font-size: 25px;
  }
  .sponsores-section p {
    line-height: 20px;
  }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  /* header */
  header {
    padding: 5px 50px;
  }
  nav {
    flex-direction: column;
  }
  nav ul li {
    padding: 0 40px;
  }
  nav ul li a {
    font-size: 20px;
  }
  /* fetured section style */
  .fetured-section {
    padding: 10px 50px;
    flex-direction: column;
    row-gap: 10px;
  }
  .fetured-content h2 .fetures {
    display: inline;
  }
  /* love section style */
  .love-section {
    padding: 30px 50px;
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
  }
  .love-content {
    max-width: 100%;
  }
  .img-div {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .img-div .love-img {
    width: 100%;
  }
  /* fact-section */
  .fact-section {
    padding: 20px 50px;
  }
  .fact-box {
    column-gap: 40px;
    padding: 0px;
  }
  /* sponsore style */
  .sponsores-img .img-div {
    max-width: 80%;
  }
  .sponsores-img .img-div img {
    width: 100%;
  }
}
